*, :before, ::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Arial, Helvectica, sans-serif;
    background-color: #dedede;
    border-top: 10px solid #d20000;
    border-bottom: 10px solid #ff1744;
}


.navigation-bar {
    background-color: #262d34;
}

.navigation-bar nav {
    background-color: #ff1744;
    margin: 0 auto;
    max-width: 800px;
}

.navigation-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation-bar li {
    display: inline-block;
    padding: 10px 25px;
}

.navigation-bar a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.current {
    background-color: #99001e;
}

.container {
    margin: 0 auto;
    max-width: 800px;
}

.page-header {
    background-color: #282d33;
    color: #fff;
    padding: 50px 50% 50px 25px;
    font-size: 14px;
}

.page-header h1 {
    text-shadow: #727272 2px 2px;
    margin-bottom: 10px;
    font-size: 30px;
}

.page-header h1::first-letter {
    color: #ff1744;
}

.page-header p:first-of-type {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}

.page-header p:nth-of-type(2) {
    font-size: 14px;
}

.page-content {
    background-color: #fff;
    padding: 50px 100px;
    font-size: 14px;
    color: #5c646e;
}

.page-content h2 {
    color: #a5adb8;
    font-size: 24px;
    margin-bottom: 20px;
}

.page-content h2:first-letter {
    color: #ff1744;
}

.page-content p {
    margin-bottom: 20px;
}

.page-content p span {
    color: #ff1744;
    text-decoration: underline;
}

.col-3-division {
    font-size: 0px;
    margin-bottom: 20px;
}

.col-3,
.col-3-list {
    display: inline-block;
    font-size: 14px;
    width: calc(100%/3);
    vertical-align: top;
}

.col-3 h3 {
    font-size: 18px;
    font-weight: bold;
    color: #282d33;
    margin-bottom: 15px;
}

.col-3 img {
    max-width: 90%;
    height: auto;
}

.page-content ul, ol {
    padding: 0px 20px 0px 15px;
}

.page-content .text {
    padding: 0px 20px 0px 0px;
}

.page-content .break-after {
    margin-bottom: 10px;
}

.primary-list,
.secondary-list {
    list-style-type: disc;
}

.col-3 h4 {
    margin-bottom: 10px;
}