@import "icomoon.css";

/*DEFAULT STYLES*/
*, ::before, ::after {
    margin: 0;
    box-sizing: border-box;
}

/*GENERAL STYLES*/
body {
    font-family: Arial, Helvectica, sans-serif;
    background-color: #dedede;
    font-size: 15px;
    color: #282b2f;
    line-height: 1.5;
}

main {
    background-color: #fff;
    max-width: 500px;
    margin: 0 auto;
    padding: 50px 50px 20px;
}

/*FORM STYLES*/
.form-search {
    border-bottom: 1px solid #e0e9f0;
}

/*SEARCH FORM STYLES*/
.form-search {
    position: relative;
    border: 2px solid #e0e9f0;
    border-radius: 7px;
    padding: 2px;
    margin-bottom: 50px;
}

input.search-field {
    width: calc(100% - 50px);
    height: 50px;
    border: 0;
    color: #455a63;
    font-size: 15px;
    padding: 0 20px;
}

input.search-field::placeholder {
    color: #bdc6ca;
}

.form-search button {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: 0;
    position: absolute;
    cursor: pointer;
    font-size: 20px;
    color: #009688;
}

.form-search button:hover {
    border: 2px solid #009688;
    border-radius: 7px;
}

/*CONTACT AREA STYLES*/
div.form-contact-area {
    border-top: 1px solid #e0e9f0;
    position: relative;
}

div.form-contact-area::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/form-bg.jpg");
    background-repeat: no-repeat;
    background-position: 50% 20%;
    opacity: 0.3;
}

.form-holder-area {
    position: relative;
    margin-top: 20px;
}

div.form-contact-area p {
    color: #455a63;
}

/*CONTACT FORM STYLES*/
form.form-contact {
    color: #455a63;
}

h1, p {
    margin-bottom: 15px;
}

.form-control {
    margin-bottom: 20px;
}

.form-control.radio {
    display: flex;
    flex-wrap: wrap;
}

.form-control.name,
.form-control.email,
.form-control.message,
.btn-submit {
    width: 100%;
}

.custom-radio {
    margin-right: 20px;
}

.form-control.name,
.form-control.email,
.form-control.message {
    height: 50px;
    border: 2px solid #e0e9f0;
    border-radius: 7px;
    color: #455a63;
    font-size: 15px;
    padding: 0 20px;
}

.form-control.name::placeholder,
.form-control.email::placeholder,
.form-control.message::placeholder {
    color: #bdc6ca;
}

.form-control.message {
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: Arial, Helvectica, sans-serif;
    line-height: 1.5;
    height: 200px;
    resize: none;
}

.form-group {
    margin-bottom: 20px;
}

.btn-submit {
    height: 50px;
    border-radius: 7px;
    border: 0;
    background-color: #009688;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #fff;
    color: #009688;
    border: 2px solid #009688;
}

/*CUSTOM CHECKBOX*/
.custom-checkbox {
    display: block;
    position: relative;
    padding-left: 25px;
    /*margin-bottom: 12px;*/
    cursor: pointer;
    font-size: 15px;
}

/* Hide the browser's default checkbox */
.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid #e2eaf1;
}

/* When the checkbox is checked, add a blue background */
.custom-checkbox input:checked ~ .checkmark {
    background-color: #009688;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.custom-checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.custom-checkbox .checkmark:after {
    left: 3px;
    top: 3px;
    width: 10px;
    height: 10px;
    border: 2px solid white;
    border-radius: 50%;
    /*-webkit-transform: rotate(45deg);*/
    /*-ms-transform: rotate(45deg);*/
    /*transform: rotate(45deg);*/
}

/*CUSTOM RADIO*/
.custom-radio {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 15px;
}

/* Hide the browser's default radio button */
.custom-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark-radio {
    position: absolute;
    top: 1px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #e2eaf1;
}

/* When the radio button is checked, add a blue background */
.custom-radio input:checked ~ .checkmark-radio {
  background-color: #009688;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
/*.checkmark-radio:after {*/
/*  content: "";*/
/*  position: absolute;*/
/*  display: none;*/
/*}*/

/* Show the indicator (dot/circle) when checked */
/*.custom-radio input:checked ~ .checkmark-radio:after {*/
/*  display: block;*/
/*}*/

/* Style the indicator (dot/circle) */
/*.custom-radio .checkmark-radio:after {*/
/* 	top: 9px;*/
/*	left: 9px;*/
/*	width: 8px;*/
/*	height: 8px;*/
/*	border-radius: 50%;*/
/*	background: white;*/
/*}*/

/*FOOTER STYLES*/
/*что бы догнать программу, не использовал общий темплейт, поэтому цсс корявый, не подчищенный. со след. дз начинаю использовать правильный темплейт*/
.container {
    background-color: #fff;
    max-width: 500px;
    margin: 0 auto;
    padding: 0 50px;
}

.social-media-links {
    padding: 0;
    list-style: none;
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.social-media-links li {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
}

.social-media-links a {
    text-decoration: none;
    color: #000;
    display: block;
    padding: 10px;
}

.social-media-links i {
    font-size: 20px;
}

.social-media-links a:hover {
    color: #009688;
}
