@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?x0w7sk');
  src:  url('../fonts/icomoon.eot?x0w7sk#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?x0w7sk') format('truetype'),
    url('../fonts/icomoon.woff?x0w7sk') format('woff'),
    url('../fonts/icomoon.svg?x0w7sk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
  content: "\ea0a";
}