.wrapper {
	overflow: hidden;
	position: relative;
	padding: 35px 15px;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.h1-container {
	margin-bottom: 30px;
	text-align: center;

	@include media ('>=tablet') {
		text-align: left;
	}

	h1 {
		color: #fff;
		border-bottom: 4px solid #4e5a62;
		display: inline-block;
		font-weight: normal;
		font-size: 30px;
		margin-bottom: 0;

		@include media ('>=desktop') {
			display: block;
			text-align: left;
			border-left: 10px solid #4e5a62;
			padding-left: 17px;
			border-bottom: none;
			font-size: 25px;
		}
	}
}

.image-area {
	margin-bottom: 35px;

	@include media ('>=phone') {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 5px;
	}
}

.image-container {
	margin-bottom: 25px;
	position: relative;

	@include media ('>=phone') {
		width: calc(100% / 2 - 10px);
		margin-bottom: 20px;
		font-size: 12px;
	}

	@include media ('>=tablet') {
		width: calc(100% / 3 - 15px);
	}

	&:hover {
		.hover-container {
			opacity: 1;
		}

		span {
			animation: plus_rotate 0.3s forwards;
		}
	}

	img {
		width: 100%;
		height: auto;
	}

	.hover-container {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $background-color-for-hover-container;
		display: flex;
		flex-direction: column;
		text-decoration: none;
		opacity: 0;
		transition: opacity .3s ease-in-out;
	}

	.hover-text {
		margin: 0;
		padding: 15px;
		background-color: #292f36;
		color: #fff;
		font-weight: normal;
		text-transform: uppercase;
		font-size: 16px;
	}

	.plus {
		flex-grow: 1;
		position: relative;
	}

	.plus span {
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -9px 0 0 -9px;
		font-size: 18px;
		color: #fff;
		display: inline-block;

		@include media ('>=phone') {
			font-size: 14px;
			margin: -7px 0 0 -7px;
		}
	}
}

.btn-container {
	text-align: center;
}


.btn {
	font-size: 14px;
	display: inline-block;
	vertical-align: top;
	padding: 10px 15px;
	border-radius: 7px;
	background-color: #3a454d;
	color: #fff;
	text-decoration: none;
	border: 2px solid #fff;
	transition: all 0.3s linear;
	transition-property: background-color, color;

	&:hover {
		color: #3a454d;
		background-color: $background-color-for-btn-hover;
	}
}

@keyframes plus_rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(180deg);
	}
}
