body {
    font-family: Arial, Helvectica, sans-serif;
}

.main-nav {
    list-style-type: none;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

.main-nav li {
    float: left;
}

.main-nav a {
    display: block;
    padding: 15px 15px;
    text-decoration: none;
    color: #6491c6;
}

.main-nav a:hover {
    text-decoration: underline;
    color: #b52e1e;
}

.active a {
    background-color: #6491c6;
    color: #fff;
}

.active a:hover {
    text-decoration: none;
    color: #fff;
}

.heading {
    background-color: #6491c6;
    padding-top: 50px;
    padding-bottom: 50px;
}

.heading h1, p {
    color: #fff;
    text-align: center;
}

.heading p {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 3px;
}

.content-block {
    margin: 0 auto;
    width: 800px;
}

.content-block h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #c3d4e9;
    text-indent: 10px;
    color: #163b61;
    font-size: 20px;
}

.content-block p {
    color: #000;
    text-align: left;
}

.btn {
    /*margins do not work here for some reason*/
    /*margin-top: 10px;*/
    /*margin-bottom: 10px;*/
    padding: 10px;
    background-color: #6491c6;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}