/*DEFAULT STYLES 774899*/
*, ::before, ::after {
    margin: 0;
    box-sizing: border-box;
}

/*GENERAL STYLES*/
body {
    font-family: Arial, Helvectica, sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}

.flex-item.home-page {
    margin: 0 50px 50px;
}

img {
    width: 90px;
    height: 120px;
    vertical-align: top;
}

main {
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    padding: 0 50px;
    margin: 50px 0;
}

h1 a {
    text-decoration: none;
    color: #000;
}

/*TEMPLATE 1*/
.flex-container.template-1 {
    height: 500px;
}

.flex-container.template-1 .flex-item {
    background-color: #774899;
    margin: 5px;
}

.flex-container.template-1 .flex-item.static {
    flex-basis: 200px;
}

.flex-container.template-1 .flex-item.dynamic {
    flex-grow: 1;
    /*насколько это нормальный подход использовать min-width на флексах в таком контексте?*/
    min-width: 200px;
}

/*TEMPLATE 2*/
.flex-container.template-2 {
    height: 500px;
}

.flex-container.template-2 .flex-item {
    background-color: #774899;
    margin: 5px;
}

.flex-container.template-2 .flex-item.static {
    flex-basis: 200px;
}

.flex-container.template-2 .flex-item.dynamic {
    flex-grow: 1;
    min-width: 200px;
}

/*TEMPLATE 3*/
.flex-container.template-3 {
    height: 500px;
}

.flex-container.template-3 .flex-item {
    background-color: #774899;
    margin: 5px;
    min-width: 200px;
    flex-grow: 1;
}

/*TEMPLATE 4*/
.flex-container.template-4 {
    height: 500px;
}

.flex-container.template-4 .flex-item {
    background-color: #774899;
    margin: 5px;
    min-width: 200px;
    flex-grow: 1;
}

/*TEMPLATE 5*/
.flex-container.template-5 {
    height: 500px;
}

.flex-container.template-5 .flex-item {
    background-color: #774899;
    margin: 5px;
}

.flex-container.template-5 .flex-item.static {
    flex-basis: 100px;
}

.flex-container.template-5 .flex-item.dynamic {
    flex-grow: 1;
    min-width: 200px;
}

/*TEMPLATE 6*/
.container.template-6 {
    height: 200px;
    background-color: #774899;
    margin: 5px;
    min-width: 200px;
}

.flex-container.template-6 {
    display: flex;
    height: 400px;
    margin: 0;
}

.flex-container.template-6 .flex-item {
    background-color: #774899;
    min-width: 200px;
    margin: 5px;
    flex-grow: 1;
}

/*TEMPLATE 7*/
.container.template-7 {
    height: 100px;
    background-color: #774899;
    margin: 5px;
    min-width: 200px;
}

.flex-container.template-7 {
    display: flex;
    height: 100px;
    margin: 0;
}

.flex-container.template-7 .flex-item {
    background-color: #774899;
    min-width: 200px;
    margin: 5px;
    flex-grow: 1;
}

/*TEMPLATE 8*/
.container.template-8 {
    height: 200px;
    background-color: #774899;
    margin: 5px;
    min-width: 200px;
}

.flex-container.template-8 {
    display: flex;
    height: 200px;
    margin: 0;
}

.flex-container.template-8 .flex-item {
    background-color: #774899;
    flex-grow: 1;
    min-width: 200px;
    margin: 5px;
}

/*TEMPLATE 9*/
.container.template-9 {
    height: 200px;
    background-color: #774899;
    margin: 5px;
    min-width: 200px;
}

.flex-container.template-9 {
    display: flex;
    height: 400px;
    margin: 0;
}

.flex-container.template-9 .flex-item {
    background-color: #774899;
    min-width: 200px;
    margin: 5px;
}

.flex-container.template-9 .flex-item.static {
    flex-basis: 200px;
}

.flex-container.template-9 .flex-item.dynamic {
    flex-grow: 1;
}

/*TEMPLATE 10*/
.flex-container.template-10 {
    display: flex;
    height: 400px;
    margin: 0;
}

.flex-container.template-10 .flex-item {
    background-color: #774899;
    min-width: 200px;
    margin: 5px;
}

.flex-container.template-10.col-2 .flex-item {
    flex-grow: 1;
}

.flex-container.template-10.col-3 .flex-item {
    flex-grow: 1;
}