@charset "UTF-8";
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

input,
textarea {
  -webkit-appearance: none;
  box-sizing: border-box;
  padding: 0.3rem 0.5rem;
  border: 2px solid #fff;
  background-color: transparent;
  transition: border-color 0.15s ease-in-out;
  color: #fff;
}

input:focus,
textarea:focus {
  outline: none !important;
  border-color: #4bcaff !important;
}

select {
  -webkit-border-radius: 0;
}

textarea {
  resize: vertical;
  vertical-align: top;
}

button,
input[type=button],
input[type=reset],
input[type=file],
input[type=submit] {
  cursor: pointer;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  color: #515f67;
  background: #fff;
  font: 14px/1.2 "Segoe UI", sans-serif;
  min-width: 320px;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

p, ul, ol {
  margin: 0 0 1em;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  margin: 0 0 0.5em;
  font-weight: 300;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 17px;
}

h6 {
  font-size: 15px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.grid [class*=col-] {
  padding: 0 15px;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

@media (min-width: 576px) and (max-width: 767px) {
  .col-sm-1 {
    width: 8.3333333333%;
  }

  .col-sm-2 {
    width: 16.6666666667%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33.3333333333%;
  }

  .col-sm-5 {
    width: 41.6666666667%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.3333333333%;
  }

  .col-sm-8 {
    width: 66.6666666667%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83.3333333333%;
  }

  .col-sm-11 {
    width: 91.6666666667%;
  }

  .col-sm-12 {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .col-md-1 {
    width: 8.3333333333%;
  }

  .col-md-2 {
    width: 16.6666666667%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.3333333333%;
  }

  .col-md-5 {
    width: 41.6666666667%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.3333333333%;
  }

  .col-md-8 {
    width: 66.6666666667%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.3333333333%;
  }

  .col-md-11 {
    width: 91.6666666667%;
  }

  .col-md-12 {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .col-lg-1 {
    width: 8.3333333333%;
  }

  .col-lg-2 {
    width: 16.6666666667%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.3333333333%;
  }

  .col-lg-5 {
    width: 41.6666666667%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.3333333333%;
  }

  .col-lg-8 {
    width: 66.6666666667%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83.3333333333%;
  }

  .col-lg-11 {
    width: 91.6666666667%;
  }

  .col-lg-12 {
    width: 100%;
  }
}
.btn {
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  display: inline-block;
  vertical-align: middle;
  padding: 15px 40px;
  text-align: center;
  border: 1px solid #353f46;
  color: #353f46;
  text-transform: uppercase;
  font-weight: bold;
}
.btn:hover {
  color: #4bcaff;
  border-color: #4bcaff;
}
.btn.btn-submit {
  border-color: #4bcaff;
  background-color: #4bcaff;
  color: #fff;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.btn.btn-submit:hover {
  background-color: rgba(255, 255, 255, 0.6);
  color: #4bcaff;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  position: relative;
}

.logo {
  font-weight: bold;
  font-style: normal;
  font-size: 30px;
  color: #fff;
  transition: color 0.3s ease-in-out;
  padding: 15px 0;
}
.logo:hover {
  text-decoration: none;
  color: #4bcaff;
}
.logo:hover span {
  color: #fff;
}
.logo span {
  color: #4bcaff;
  transition: color 0.3s ease-in-out;
}

.menu-opener {
  display: inline-block;
  vertical-align: top;
  width: 40px;
  height: 40px;
  background: transparent;
  position: relative;
  border-radius: 3px;
}
@media (min-width: 768px) {
  .menu-opener {
    display: none;
  }
}

.menu {
  font-size: 14px;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  transform: scale(1);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  margin: 42px 0 0;
}
@media (min-width: 768px) {
  .menu {
    opacity: 1;
    visibility: visible;
    display: flex;
    position: static;
    margin-top: 0;
  }
}
.mobile-menu-active .menu:not(.menu-filter) {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  background-color: rgba(83, 92, 98, 0.85);
}
.menu a {
  display: block;
  padding: 11px 18px;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid transparent;
  color: #fff;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
.menu li {
  margin-left: 10px;
}
.menu li:hover a, .menu li.active a {
  color: #4bcaff;
  border-color: #4bcaff;
}
.mobile-menu-active .menu li:not(:last-child) {
  margin-bottom: 5px;
}

.filter-menu-active .menu-filter {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  background-color: #fff;
  z-index: 3;
  margin: 10px 0 0;
}
.filter-menu-active .menu-filter span {
  color: #4bcaff;
}
.filter-menu-active .menu-filter li {
  margin-left: 0;
}

.wrapper {
  overflow: hidden;
  position: relative;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

section {
  color: #535c62 !important;
  padding: 80px 0;
}
section.bg-color-blue {
  background-color: #4bcaff !important;
  color: #fff !important;
}
section.bg-color-grey {
  background-color: #535c62 !important;
  color: #fff !important;
}

.large-paragraph {
  font-size: 28px;
  font-weight: 300;
  line-height: 1.35;
}

.twitter-link {
  font-weight: bold;
}
.twitter-link:hover {
  text-decoration: underline;
}

h2.decorated {
  position: relative;
}
h2.decorated .decoration {
  position: absolute;
  top: 0;
  right: 0;
}

.form-group {
  margin-bottom: 40px;
}
.form-group label {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
  display: inline-block;
}

.form-control {
  display: block;
  width: 100%;
  padding: 10px 15px;
}

.form-control::-webkit-input-placeholder {
  color: #f00;
}
.form-control::-moz-placeholder {
  opacity: 1;
  color: #f00;
}
.form-control:-moz-placeholder {
  color: #f00;
}
.form-control:-ms-input-placeholder {
  color: #f00;
}
.form-control.placeholder {
  color: #f00;
}
.form-control:focus {
  border-color: #ff0;
}

.grid img {
  display: block;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

h1, h2 {
  text-transform: uppercase;
}

h1 {
  background-color: rgba(83, 92, 98, 0.85);
  line-height: 1.65;
  display: inline;
}

h2 {
  position: relative;
  margin-bottom: 40px;
}
h2::after {
  content: "";
  width: 45px;
  height: 2px;
  background-color: #535c62;
  position: absolute;
  top: 100%;
  left: 0;
}
.bg-color-blue h2::after, .bg-color-grey h2::after {
  background-color: #fff;
}
h2 a {
  transition: font-weight 0.3s ease-in-out;
}
h2 a:hover {
  font-weight: bold;
}

.page-intro {
  padding: 200px 0 50px;
  position: relative;
  background-image: url("../images/section-bg-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.page-intro .container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}
.page-intro .container::before {
  content: "";
  min-height: 550px;
  width: 0;
}
.page-intro .text-area {
  text-align: center;
  max-width: 990px;
  margin: 0 auto;
}

.services img {
  margin-bottom: 20px;
}
.services h3 {
  text-transform: uppercase;
  font-weight: 600;
}
.services p {
  font-size: 12px;
}
.services .card {
  margin-bottom: 20px;
  margin-left: -10px;
  padding-left: 10px;
}
@media (min-width: 576px) {
  .services .card {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .services .card {
    width: 25%;
  }
}
@media (min-width: 576px) {
  .services .card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}

.portfolio {
  color: #535c62 !important;
}
@media (min-width: 576px) {
  .portfolio .image-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.portfolio .image-container {
  height: 270px;
  width: auto;
  margin-bottom: 30px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
@media (min-width: 576px) {
  .portfolio .image-container {
    width: calc(100% / 2 - 10px);
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) {
  .portfolio .image-container {
    width: calc(100% / 3 - 10px);
  }
}
@media (min-width: 1024px) {
  .portfolio .image-container {
    width: calc(100% / 4 - 15px);
  }
}
.portfolio .image-container:hover .hover-container {
  opacity: 1;
}
.portfolio .image-container:hover span {
  animation: plus_rotate 0.3s forwards;
}
.portfolio .image-container .hover-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.portfolio .image-container .plus {
  flex-grow: 1;
  position: relative;
}
.portfolio .image-container .plus span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -9px 0 0 -9px;
  font-size: 18px;
  color: #fff;
  display: inline-block;
}
@media (min-width: 576px) {
  .portfolio .image-container .plus span {
    font-size: 14px;
    margin: -7px 0 0 -7px;
  }
}
.portfolio h2 {
  margin-bottom: 0;
}
.portfolio .flex-container {
  position: relative;
  margin-bottom: 80px;
}
.portfolio .menu a {
  color: #535c62;
}
.portfolio .menu-opener {
  border: 1px solid #535c62;
  position: relative;
  transition: border-color 0.3s ease-in-out;
}
.filter-menu-active .portfolio .menu-opener {
  border-color: #4bcaff;
}
.portfolio .menu-opener span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: color 0.3s ease-in-out;
}
.filter-menu-active .portfolio .menu-opener span {
  color: #4bcaff;
}

.default p {
  margin-bottom: 40px;
}
.default .flex-container {
  display: block;
}
@media (min-width: 1024px) {
  .default .flex-container {
    display: flex;
  }
}
.default .section-content {
  padding-right: 125px;
  padding-bottom: 40px;
}
@media (min-width: 1024px) {
  .default .section-content,
.default .video-container {
    padding-bottom: 0;
    width: calc(100% / 2);
  }
}
.default .responsive-embed {
  position: relative;
  overflow: hidden;
}
.default .responsive-embed::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
.default .responsive-embed .embed-item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.john-doe {
  padding: 100px 0;
  position: relative;
  background-image: url("../images/section-bg-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.john-doe h2 {
  max-width: 1200px;
  margin: 0 auto;
}
.john-doe h2:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  position: relative;
  color: transparent;
}
.john-doe h2:after {
  left: 15px;
}
.john-doe .container {
  display: flex;
  align-items: flex-start;
  position: relative;
  z-index: 2;
  padding-top: 40px;
}
.john-doe .container::before {
  content: "";
  min-height: 230px;
  width: 0;
}
.john-doe .flex-container {
  align-items: flex-start;
  display: block;
}
.john-doe .flex-container p {
  margin-bottom: 35px;
}
@media (min-width: 1024px) {
  .john-doe .flex-container {
    display: flex;
  }
}
@media (min-width: 1024px) {
  .john-doe .left-column {
    margin-right: 20px;
  }
}
.john-doe .social-media-links ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: -20px;
  display: flex;
  flex-wrap: wrap;
}
.john-doe .social-media-links li {
  font-size: 22px;
  padding-left: 20px;
}
.john-doe .social-media-links a {
  display: block;
  padding: 18px 20px;
  border: 2px solid #fff;
  transition: color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  margin-bottom: 20px;
}
.john-doe .social-media-links a:hover {
  color: #4bcaff;
  border-color: #4bcaff;
}

.testimonials .testimonial {
  margin-bottom: 40px;
}
.testimonials .testimonial-owner a {
  color: #4bcaff;
  font-weight: bold;
  transition: color 0.15s ease-in-out;
}
.testimonials .testimonial-owner a:hover {
  color: #535c62;
}

.contact {
  background-image: url("../images/section-bg-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.contact .flex-container {
  flex-direction: column;
}
@media (min-width: 1024px) {
  .contact .flex-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.contact .flex-item {
  width: 100%;
  min-width: 290px;
}
@media (min-width: 1024px) {
  .contact .type-input {
    width: calc(100% / 2);
    padding-right: 30px;
  }
}
.contact .type-contact-person {
  line-height: 1.5;
}
@media (min-width: 1024px) {
  .contact .type-contact-person {
    order: 1;
    width: calc(100% / 2);
    max-width: 535px;
    padding-top: 20px;
  }
}
.contact .type-contact-person p {
  margin-bottom: 40px;
}
@media (min-width: 1024px) {
  .contact .type-textarea {
    order: 2;
  }
}
.contact .type-textarea textarea {
  height: 220px;
}
.contact .btn.btn-submit {
  margin-bottom: 40px;
}
.contact .contact-person-address {
  font-style: normal;
}

@keyframes plus_rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
.header {
  margin: 0;
  padding: 42px 0;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(83, 92, 98, 0.85);
}
.header .menu-opener {
  display: inline-block;
  vertical-align: top;
  width: 40px;
  height: 40px;
  background: transparent;
  position: relative;
  border-radius: 3px;
}
@media (min-width: 768px) {
  .header .menu-opener {
    display: none;
  }
}
.header .menu-opener span, .header .menu-opener::after, .header .menu-opener::before {
  background: #fff;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 25%;
  right: 25%;
  height: 2px;
  margin-top: -2px;
  transition: all 0.3s ease-in-out;
}
.header .menu-opener::after, .header .menu-opener::before {
  content: "";
  top: 30%;
}
.header .menu-opener::after {
  top: 70%;
}
.mobile-menu-active .header .menu-opener span {
  opacity: 0;
}
.mobile-menu-active .header .menu-opener::after, .mobile-menu-active .header .menu-opener::before {
  transform: rotate(135deg);
  top: 50%;
  left: 15%;
  right: 15%;
}
.mobile-menu-active .header .menu-opener::after {
  transform: rotate(-135deg);
}

.footer {
  background-color: #353f46;
  color: #535c62;
  padding: 80px 0;
}
.footer .flex-container {
  align-items: flex-start;
}
.footer ul {
  margin: 0 0 0 -15px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.footer li {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 15px;
}
.footer li:not(:last-child) {
  border-right: 2px solid #535c62;
}
.footer p {
  margin: 0;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/icomoon.eot?x0w7sk");
  src: url("../fonts/icomoon/icomoon.eot?x0w7sk#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?x0w7sk") format("truetype"), url("../fonts/icomoon/icomoon.woff?x0w7sk") format("woff"), url("../fonts/icomoon/icomoon.svg?x0w7sk#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
  content: "";
}

.icon-filter:before {
  content: "";
}

.icon-dribbble:before {
  content: "";
}

.icon-quotes-right:before {
  content: "";
}

.icon-trophy:before {
  content: "";
}

.icon-google-plus:before {
  content: "";
}

.icon-twitter:before {
  content: "";
}