html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	color: $base-text-color;
	background: $base-background-color;
	font: #{$font-size-base}/#{$line-height-base} $base-font-family;
	min-width: $base-min-width;
	max-width: $base-max-width;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
}

p, ul, ol {
	margin: 0 0 50px;
	line-height: 1.6;
	font-size: $p-font-size;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.2;
	margin: 0 0 30px;
	font-weight: bold;
}

h1 {
	font-family: $base-font-serif;
	font-size: $h1-font-size;
}

h2 {
	font-family: $base-font-serif;
	font-size: $h2-font-size;
}

h3 {
	font-size: $h3-font-size;
}

h4 {
	font-size: $h4-font-size;
}

h5 {
	font-size: $h5-font-size;
}

h6 {
	font-size: $h6-font-size;
}

a {
	color: $base-link-color;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}