.btn {
	transition: background-color .3s ease-in-out;
	display: inline-block;
	vertical-align: middle;
	padding: 14px;
	border-radius: 3px;
	text-align: center;
	border: solid 1px $cyan-template;
	text-transform: uppercase;
	color: $cyan-template;

	&:hover {
		text-decoration: none;
		outline: none;
		background-color: rgba(255, 255, 255, 0.5);
	}

	&.btn-body {
		transition: color .3s ease-in-out, background-color .3s ease-in-out;

		&:hover {
			background-color: $cyan-template;
			color: $white;
		}
	}
}