.my-carousel {
	.carousel-slide {
		outline: none;
	}

	//dots styles
	.slick-dots {
		padding: 0;
		margin: 0;
		list-style: none;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;

		li {
			margin: 0 2.5px;

			&.slick-active button {
				background-color: $cyan-template;
				border: 1px solid $cyan-template;
				outline: none;
			}
		}

		li button {
			padding: 0;
			margin: 0;
			font-size: 0;
			height: 10px;
			width: 10px;
			border: 1px solid $grey-template;
			border-radius: 50%;
			background-color: transparent;
			transition: background-color .3s ease-in-out, border .3s ease-in-out;

			&:hover {
				background-color: $cyan-template;
				border: 1px solid $cyan-template;
			}
		}
	}

	.carousel-paragraph {
		font-weight: lighter;
	}
}