.card {
	padding: 0 15px;
	margin: 0 auto;
	max-width: 1200px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 2;

	&::before {
		content: '';
		min-height: 525px;
		width: 0;
	}

	.content-container {
		text-align: center;
		max-width: 770px;
		margin: 0 auto;
	}

	.carousel-paragraph {
		letter-spacing: 0.75px;
	}
}
