@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Playfair+Display:wght@700;900&family=Roboto:wght@300;900&display=swap');

// Переменные цветов

$cyan-template: #00e0d0;
$grey-template: #bababc;

$gray: #999;
$blue: #007bff;
$dark-blue: #0069d9;
$green: #28a745;
$dark-green: #218838;
$red: #f00;
$yellow: #ff0;

$black: #000;
$white: #fff;

$base-font-sans-serif: 'Roboto', sans-serif;
$base-font-serif: 'Playfair Display', serif;
$base-button-font: 'Hammersmith One', sans-serif;

// Основной размер и цвет текста, семейство шрифта и цвет фона
$base-text-color: #413d4b;
$base-background-color: $white !default;
$font-size-base: 16px !default;
$line-height-base: 1.2 !default;
$base-font-family: $base-font-sans-serif !default;

$base-min-width: 320px;
$base-max-width: auto;

// Цвет глобальной ссылки
$base-link-color: $blue;

// Формы
$form-element-border-color: $gray;
$form-element-focus-border-color: $black;
$placeholder-color: $gray ;

// Переменные font-size для заголовков
$h1-font-size: 32px;
$h2-font-size: 22px;
$h3-font-size: 24px;
$h4-font-size: 21px;
$h5-font-size: 17px;
$h6-font-size: 15px;

$p-font-size: 14px;