.wrapper {
	overflow: hidden;
	position: relative;
}

.container {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 15px;
}

.page-intro {
	color: $white;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	padding: 70px 0;
	margin-bottom: 70px;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		height: 100%;
		left: 0;
		width: 100%;
		opacity: 0.85;
		background: linear-gradient(to bottom, #09052f 0%,#311d5e 100%);
	}

	h1 {
		position: relative;
		padding-bottom: 25px;

		&::after {
			content: "";
			width: 50px;
			height: 1px;
			background-color: $cyan-template;
			position: absolute;
			top: 100%;
			left: 50%;
			transform: translate(-50%, 0);
		}
	}
}

.article-our-story {
	padding: 0;
	text-align: center;
	margin-bottom: 80px;

	@include media (">=tablet") {
		display: flex;
	}

	h2 {
		text-transform: uppercase;
	}

	.image-container {
		margin-bottom: 20px;
		display: inline-block;

		@include media (">=tablet") {
			flex-shrink: 0;
			padding: 0 50px 0 22.5px;
		}

		@include media (">=desktop") {
			padding: 0 100px 0 55px;
		}

		img {
			@include media (">=tablet") {
				width: 200px;
				height: auto;
			}

			@include media (">=desktop") {
				width: 234px;
				height: auto;
			}
		}
	}

	.our-story {
		text-align: left;

		@include media (">=tablet") {
			flex-grow: 1;
		}
	}
}
