.container {
	position: relative;
}

.header {
	margin: 0;
	padding: 15px 0;
	position: absolute;
	z-index: 3;
	top: 0;
	left: 0;
	width: 100%;

	.flex-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.logo-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.logo {
		display: block;
	}
}

.menu-opener {
	display: inline-block;
	vertical-align: top;
	width: 40px;
	height: 40px;
	background: transparent;
	position: relative;
	border-radius: 3px;

	@include media(">=tablet") {
		display: none;
	}

	span,
	&::after,
	&::before {
		background: $white;
		border-radius: 4px;
		position: absolute;
		top: 50%;
		left: 25%;
		right: 25%;
		height: 2px;
		margin-top: -2px;
		transition: all .3s ease-in-out;
	}

	&::after,
	&::before {
		content: "";
		top: 30%;
	}

	&::after {
		top: 70%;
	}

	.mobile-menu-active & span {
		opacity: 0;
	}

	.mobile-menu-active &::after,
	.mobile-menu-active &::before {
		transform: rotate(135deg);
		top: 50%;
		left: 15%;
		right: 15%;
	}

	.mobile-menu-active &::after {
		transform:rotate(-135deg);
	}
}

.menu {
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	top: 100%;
	right: 0;
	left: 0;
	transform: scale(1);
	opacity: 0;
	visibility: hidden;
	transition: opacity .3s ease-in-out, visibility .3s ease-in-out, transform .3s ease-in-out;

	@include media(">=tablet") {
		opacity: 1;
		visibility: visible;
		display: flex;
		position: static;
	}

	.mobile-menu-active & {
		opacity: 1;
		visibility: visible;
		transform: scale(1);
		background: linear-gradient(to right, #484462 0%,#625383 100%);
	}

	a {
		color: $white;
		text-decoration: none;
		display: block;
		padding: 12.5px;
		text-transform: uppercase;
		font-weight: bold;
	}

	li:hover a {
		color: $cyan-template;
		background-color: rgba(255, 255, 255, 0.2);
	}

	li.active a {
		color: $cyan-template;
	}
}
