/* Обертка которая обрезает все лишнее что выходит за ширину страници,
к примеру если вы что то вытаскиваете марджинами то у вас появится горизонтальный скролл на странице, эта обертка его срезает
+ если вы забыли указать position: relative; на нужном блоке, это ваша отправная точка для позиционирования,
чтобы не трогать body
эта обертка есть в каждом проекте */

body {
	background-color: #3a454d;
}

.wrapper {
	overflow: hidden;
	position: relative;
	padding: 35px 15px;
	min-width: 320px;
}

/* Элемент который центрирует контент на странице (только центрирует) */

.container {
	margin: 0 auto;
}

.h1-container {
	margin-bottom: 30px;
	text-align: center;
}

h1 {
	color: #fff;
	border-bottom: 4px solid #4e5a62;
	display: inline-block;
	font-weight: normal;
	font-size: 30px;
	margin-bottom: 0;
}

img {
	width: 100%;
	height: auto;
}

.image-container {
	margin-bottom: 25px;
	position: relative;
}

.image-container:hover .hover-container {
	opacity: 1;
}

.image-container .hover-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
	display: flex;
	flex-direction: column;
	text-decoration: none;
	opacity: 0;
	transition: opacity .3s ease-in-out;
}

.hover-text {
	margin: 0;
	padding: 15px;
	background-color: #292f36;
	color: #fff;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 16px;
}

.plus {
	flex-grow: 1;
	position: relative;
}

.plus span {
	position: absolute;
	top: 50%;
	left: 50%;
	/*transform: translate(-50%, -50%);*/
	margin: -9px 0 0 -9px;
	font-size: 18px;
	color: #fff;
	display: inline-block;
}

@keyframes plus_rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(180deg);
	}
}

.image-container:hover span {
	animation: plus_rotate 0.3s forwards;
}

.btn-container {
	text-align: center;
}

.btn {
	font-size: 14px;
	display: inline-block;
	vertical-align: top;
	padding: 10px 15px;
	border-radius: 7px;
	background-color: #3a454d;
	color: #fff;
	text-decoration: none;
	border: 2px solid #fff;
	transition: all 0.3s linear;
	transition-property: background-color, color;
}

.btn:hover {
	color: #3a454d;
	background-color: rgba(255,255,255,0.8);
}

.image-area {
	margin-bottom: 35px;
}

@media (min-width: 480px) {
	.hover-text {
		font-size: 18px;
	}
}

@media (min-width: 576px) {
	.image-area {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 5px;
	}

	.image-container {
		width: calc(100% / 2 - 10px);
		margin-bottom: 20px;
	}

	.hover-text {
		font-size: 12px;
	}

	.plus span {
		font-size: 14px;
		margin: -7px 0 0 -7px;
	}
}

@media (min-width: 768px) {
	.image-container {
		width: calc(100% / 3 - 15px);
		margin-bottom: 20px;
	}

	.h1-container {
		text-align: left;
	}
}

@media (min-width: 1024px) {
	h1 {
		display: block;
		text-align: left;
		border-left: 10px solid #4e5a62;
		padding-left: 17px;
		border-bottom: none;
		font-size: 25px;
	}
}

@media (min-width: 1200px) {
	.hover-text {
		font-size: 16px;
	}
}

@media (min-width: 1400px) {
	.hover-text {
		font-size: 20px;
	}

	.plus span {
		font-size: 16px;
		margin: -8px 0 0 -8px;
	}
}

@media (min-width: 1600px) {
	.hover-text {
		font-size: 22px;
	}

	.plus span {
		font-size: 20px;
		margin: -10px 0 0 -10px;
	}
}

