*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Arial, Helvectica, sans-serif;
    background-color: #dedede;
}

.row-section {
    background-color: #dedede;
}

.row-section::before,
.row-section::after {
    clear: both;
    content: "";
    display: table;
}

.box {
    background-color: red;
    height: 100px;
    margin: 5px;
}

/* ROW1 STYLES */
.box.row1 {
    float: left;
}

.box.row1.col1 {
    width: calc(150px - 10px);
}

.box.row1.col2 {
    width: calc(100% - 160px);
    background-color: blue;
}

/* ROW2 STYLES */
.box.row2 {
    float: left;
}

.box.row2.col1 {
    width: calc(100% - 160px);
    background-color: blue;
}

.box.row2.col2 {
    width: calc(150px - 10px);
}

/*ROW3 STYLES*/
.box.row3 {
    float: left;
}

.box.row3.col1 {
    width: calc(150px - 10px);
}

.box.row3.col2 {
    width: calc(100% - 310px);
    background-color: blue;
}

.box.row3.col3 {
    width: calc(150px - 10px);
}

/*ROW4 STYLES*/
.box.row4 {
    float: left;
    width: calc(25% - 10px);
}

/*ROW5 STYLES*/
.box.row5 {
    float: left;
    width: calc(50% - 10px);
}