/* Обертка которая обрезает все лишнее что выходит за ширину страници,
к примеру если вы что то вытаскиваете марджинами то у вас появится горизонтальный скролл на странице, эта обертка его срезает
+ если вы забыли указать position: relative; на нужном блоке, это ваша отправная точка для позиционирования,
чтобы не трогать body
эта обертка есть в каждом проекте */

.wrapper {
	overflow: hidden;
	position: relative;
}

/* Элемент который центрирует контент на странице (только центрирует) */

.container {
	max-width: 1000px;
	margin: 0 auto;
}

.my-carousel {
	margin: 0 50px;
}

.carousel-slide.slick-slide {
	padding: 0;
	margin: 0 5px;
}

.card {
	width: inherit;
}

.image-container {
	position: relative;
	width: inherit;
}

.image-container img {
	width: 100%;
	height: auto;
}

.hover-container {
	position: absolute;
	background-color: rgba(255,255,255,.4);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity .3s ease-in-out;
}

.card:hover .hover-container {
	opacity: 1;
}

.social-media-links {
	padding: 0;
	margin: 0;
	list-style: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.social-media-links span {
	font-size: 9px;
	color: #fff;
}

.social-media-links a {
	text-decoration: none;
}

.social-media-links li {
	display: inline-block;
	padding: 3px 11px 5px;
	background-color: #3a454d;
	transition: background-color .15s ease-in-out;
}

.social-media-links li:hover {
	background-color: #4e5a62;
	cursor: pointer;
}

.employee-information-container {
	background-color: #e1e6ea;
	padding: 16px;
	transition: background-color .3s ease-in-out;
}

.employee-information-container h3.employee-name {
	font-size: 16px;
	color: #292f36;
	/*font-weight: normal;*/
	text-transform: uppercase;
	transition: color .3s ease-in-out;
}

.employee-information-container p.employee-position {
	font-size: 14px;
	margin: 0;
	color: #8d8f92;
	transition: color .3s ease-in-out;
}

.card:hover .employee-information-container {
	background-color: #3a454d;
}

.card:hover .employee-name,
.card:hover .employee-position {
	color: #fff;
}

.slick-dots {
	padding: 0;
	margin: 20px 0 0;
	list-style: none;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}

.slick-dots li {
	margin: 0 10px;
}

.slick-dots li button {
	font-size: 0;
	height: 30px;
	width: 30px;
	border: none;
	border-radius: 50%;
	background-color: #e1e6ea;
	transition: background-color .3s ease-in-out;
}

.slick-dots li button.active {
	background-color: #3a454d;
}

.slick-dots li button:hover {
	background-color: #3a454d;
}

button.slick-prev,
button.slick-next {
	font-size: 0;
	line-height: 0;
	position: absolute;
	top: 50%;
	transform: translate(-50%, 0);
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
	text-transform: none;
}

button.slick-prev {
	margin-left: -25px;
	left: 0;
}

button.slick-next {
	margin-left: 25px;
	left: 100%;
}

button.slick-prev::before,
button.slick-next::before {
	font-family: 'icomoon';
	font-size: 20px;
	color: #3a454d;
	transition: color .15s ease-in-out;
}

button.slick-prev::before {
	content: '\ea44';
}

button.slick-next::before {
	content: '\ea42';
}

button.slick-prev:hover::before,
button.slick-next:hover::before {
	color: #8d8f92;
}

@media (min-width: 576px) {
	.slick-dots li button {
		height: 20px;
		width: 20px;
	}
}
