@font-face {
  font-family: 'icomoon';
  src:  url('../../fonts/icomoon/icomoon.eot?v5oh3j');
  src:  url('../../fonts/icomoon/icomoon.eot?v5oh3j#iefix') format('embedded-opentype'),
    url('../../fonts/icomoon/icomoon.ttf?v5oh3j') format('truetype'),
    url('../../fonts/icomoon/icomoon.woff?v5oh3j') format('woff'),
    url('../../fonts/icomoon/icomoon.svg?v5oh3j#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\ea90";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-left:before {
  content: "\ea44";
}
