h1 {
    color: darkblue;
    text-align: center;
    letter-spacing: 10px;
}

h2 {
    margin-left: 100px;
    margin-right: 100px;
    text-indent: 2em;
}

p {
    font-size: x-large;
    text-indent: 40px;
    text-align: justify;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 2em;
    line-height: 2;
}

p::first-letter {
    font-weight: bold;
    font-size: xx-large;
}

p::selection {
    color: white;
    background-color: darkblue;
}

b {
    color: mediumslateblue;
}

b::selection {
    color: white;
    background-color: darkblue;
}

.navigation-panel {
    text-align: center;
    font-size: x-large;
}

.navigation-item {
    color: black;
}

.navigation-item-special {
    color: cornflowerblue;
}

.navigation-item-additional {
    color: crimson;
}

.navigation-item:hover {
    color: deeppink;
    font-weight: bold;
}

.navigation-item-special:hover {
    color: indigo;
    font-weight: bold;
}

.navigation-item-additional:hover {
    color: teal;
    font-weight: bold;
}

ul {
    font-size: x-large;
    font-weight: bold;
    margin-left: 100px;
    margin-right: 100px;
    text-indent: 2em;
    line-height: 2;
}

li:nth-child(odd) {
    color: darkcyan;
}

table.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-collapse: collapse;
    width: 50%;
    background-color: dodgerblue;
}

table, th, td {
    border: 1px solid black;
}

td {
    padding: 25px;
}

tr:hover {
    background-color: midnightblue;
    color: white;
}

tr:nth-child(even) {
    background-color: goldenrod;
}

tr:nth-child(even):hover {
    background-color: yellowgreen;
}
