body {
    color: red;
}

h1 {
    color: cornflowerblue;
    background-color: antiquewhite;
}

p {
    color: blueviolet;
}

background-color-green {
    background-color: green;
}

.red {
    color: burlywood;
}

#blue {
    color: darkblue;
}
