/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Playfair+Display:wght@700;900&family=Roboto:wght@300;900&display=swap");
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  color: #413d4b;
  background: #fff;
  font: 16px/1.2 "Roboto", sans-serif;
  min-width: 320px;
  max-width: auto;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

p, ul, ol {
  margin: 0 0 50px;
  line-height: 1.6;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  margin: 0 0 30px;
  font-weight: bold;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 32px;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 22px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 17px;
}

h6 {
  font-size: 15px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.grid [class*=col-] {
  padding: 0 15px;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

@media (min-width: 576px) and (max-width: 767px) {
  .col-sm-1 {
    width: 8.3333333333%;
  }

  .col-sm-2 {
    width: 16.6666666667%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33.3333333333%;
  }

  .col-sm-5 {
    width: 41.6666666667%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.3333333333%;
  }

  .col-sm-8 {
    width: 66.6666666667%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83.3333333333%;
  }

  .col-sm-11 {
    width: 91.6666666667%;
  }

  .col-sm-12 {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .col-md-1 {
    width: 8.3333333333%;
  }

  .col-md-2 {
    width: 16.6666666667%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.3333333333%;
  }

  .col-md-5 {
    width: 41.6666666667%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.3333333333%;
  }

  .col-md-8 {
    width: 66.6666666667%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.3333333333%;
  }

  .col-md-11 {
    width: 91.6666666667%;
  }

  .col-md-12 {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .col-lg-1 {
    width: 8.3333333333%;
  }

  .col-lg-2 {
    width: 16.6666666667%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.3333333333%;
  }

  .col-lg-5 {
    width: 41.6666666667%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.3333333333%;
  }

  .col-lg-8 {
    width: 66.6666666667%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83.3333333333%;
  }

  .col-lg-11 {
    width: 91.6666666667%;
  }

  .col-lg-12 {
    width: 100%;
  }
}
.btn {
  transition: background-color 0.3s ease-in-out;
  display: inline-block;
  vertical-align: middle;
  padding: 14px;
  border-radius: 3px;
  text-align: center;
  border: solid 1px #00e0d0;
  text-transform: uppercase;
  color: #00e0d0;
}
.btn:hover {
  text-decoration: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
}
.btn.btn-body {
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.btn.btn-body:hover {
  background-color: #00e0d0;
  color: #fff;
}

.card {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}
.card::before {
  content: "";
  min-height: 525px;
  width: 0;
}
.card .content-container {
  text-align: center;
  max-width: 770px;
  margin: 0 auto;
}
.card .carousel-paragraph {
  letter-spacing: 0.75px;
}

.wrapper {
  overflow: hidden;
  position: relative;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 15px;
}

.page-intro {
  color: #fff;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 70px 0;
  margin-bottom: 70px;
}
.page-intro::before {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  width: 100%;
  opacity: 0.85;
  background: linear-gradient(to bottom, #09052f 0%, #311d5e 100%);
}
.page-intro h1 {
  position: relative;
  padding-bottom: 25px;
}
.page-intro h1::after {
  content: "";
  width: 50px;
  height: 1px;
  background-color: #00e0d0;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
}

.article-our-story {
  padding: 0;
  text-align: center;
  margin-bottom: 80px;
}
@media (min-width: 768px) {
  .article-our-story {
    display: flex;
  }
}
.article-our-story h2 {
  text-transform: uppercase;
}
.article-our-story .image-container {
  margin-bottom: 20px;
  display: inline-block;
}
@media (min-width: 768px) {
  .article-our-story .image-container {
    flex-shrink: 0;
    padding: 0 50px 0 22.5px;
  }
}
@media (min-width: 1024px) {
  .article-our-story .image-container {
    padding: 0 100px 0 55px;
  }
}
@media (min-width: 768px) {
  .article-our-story .image-container img {
    width: 200px;
    height: auto;
  }
}
@media (min-width: 1024px) {
  .article-our-story .image-container img {
    width: 234px;
    height: auto;
  }
}
.article-our-story .our-story {
  text-align: left;
}
@media (min-width: 768px) {
  .article-our-story .our-story {
    flex-grow: 1;
  }
}

.container {
  position: relative;
}

.header {
  margin: 0;
  padding: 15px 0;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
}
.header .flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  display: block;
}

.menu-opener {
  display: inline-block;
  vertical-align: top;
  width: 40px;
  height: 40px;
  background: transparent;
  position: relative;
  border-radius: 3px;
}
@media (min-width: 768px) {
  .menu-opener {
    display: none;
  }
}
.menu-opener span, .menu-opener::after, .menu-opener::before {
  background: #fff;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 25%;
  right: 25%;
  height: 2px;
  margin-top: -2px;
  transition: all 0.3s ease-in-out;
}
.menu-opener::after, .menu-opener::before {
  content: "";
  top: 30%;
}
.menu-opener::after {
  top: 70%;
}
.mobile-menu-active .menu-opener span {
  opacity: 0;
}
.mobile-menu-active .menu-opener::after, .mobile-menu-active .menu-opener::before {
  transform: rotate(135deg);
  top: 50%;
  left: 15%;
  right: 15%;
}
.mobile-menu-active .menu-opener::after {
  transform: rotate(-135deg);
}

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  transform: scale(1);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
}
@media (min-width: 768px) {
  .menu {
    opacity: 1;
    visibility: visible;
    display: flex;
    position: static;
  }
}
.mobile-menu-active .menu {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  background: linear-gradient(to right, #484462 0%, #625383 100%);
}
.menu a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 12.5px;
  text-transform: uppercase;
  font-weight: bold;
}
.menu li:hover a {
  color: #00e0d0;
  background-color: rgba(255, 255, 255, 0.2);
}
.menu li.active a {
  color: #00e0d0;
}

.my-carousel .carousel-slide {
  outline: none;
}
.my-carousel .slick-dots {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.my-carousel .slick-dots li {
  margin: 0 2.5px;
}
.my-carousel .slick-dots li.slick-active button {
  background-color: #00e0d0;
  border: 1px solid #00e0d0;
  outline: none;
}
.my-carousel .slick-dots li button {
  padding: 0;
  margin: 0;
  font-size: 0;
  height: 10px;
  width: 10px;
  border: 1px solid #bababc;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}
.my-carousel .slick-dots li button:hover {
  background-color: #00e0d0;
  border: 1px solid #00e0d0;
}
.my-carousel .carousel-paragraph {
  font-weight: lighter;
}