/* Обертка которая обрезает все лишнее что выходит за ширину страници,
к примеру если вы что то вытаскиваете марджинами то у вас появится горизонтальный скролл на странице, эта обертка его срезает
+ если вы забыли указать position: relative; на нужном блоке, это ваша отправная точка для позиционирования,
чтобы не трогать body
эта обертка есть в каждом проекте */

.wrapper {
	overflow: hidden;
	position: relative;
}

/* Элемент который центрирует контент на странице (только центрирует) */

.header {
	background-color: #f5f8fb;
}

.card:nth-of-type(1),
.main,
.section,
.navigation-pane,
header {
	border-bottom: 1px solid #e0e9f0;
}

.home-bar {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
}

/* Обертка для полей формы */

.form-group {
	margin-bottom: 15px;
}

/* Поля формы */

.form-control {
	display: block;
	width: 100%;
	padding: 10px 15px;
}

.form-control:focus {
	border-color: #009688;
}

/* Стили для кроссбраузерности placeholder полей */

.form-control::-webkit-input-placeholder {
	color: #bdc6ca;
}

.form-control::-moz-placeholder {
	opacity: 1;
	color: #bdc6ca;
}

.form-control:-ms-input-placeholder {
	color: #bdc6ca;
}

.btn {
	display: inline-block;
	vertical-align: top;
	padding: 18px 80px;
	border-radius: 7px;
	background-color: #009688;
	color: #fff;
	text-decoration: none;
	border: 2px solid #009688;
	font: 18px/1.5 "Rubik Medium";
}

.btn:hover {
	background-color: #fff;
	color: #000;
}

/*HEADER STYLES*/

.contact-phone:hover {
	color: #009688;
}

i {
	margin-right: 10px;
}

.home-bar a {
	display: block;
	padding: 40px 0;
}

.logo-container img {
	margin-bottom: 0;
}

.logo-container:hover {
	background-color: #e0e9f0;
}

/*NAVIGATION STYLES*/
.navigation-pane {
	margin-bottom: 20px;
}

.social-media-links ul,
.navigation-pane ul {
	list-style: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 0px;
}

.social-media-links li,
.navigation-pane li {
	display: block;
}

.social-media-links a,
.navigation-pane a {
	text-decoration: none;
	color: #282b2f;
	padding: 15px 0;
	font: 18px/1.5 "Rubik Medium";
	display: block;
}

.navigation-pane li.current {
	border-bottom: 2px solid #282b2f;
}

.navigation-pane li:hover {
	border-bottom: 2px solid #282b2f;
}

/*MAIN STYLES*/

/*BREADCRUMBS STYLES*/
.breadcrumbs {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	font-size: 14px;
	color: #78909c;
	margin: 0 0 80px;
}

.breadcrumbs li {
	padding-right: 15px;
}

.breadcrumbs li::after {
	content: ">";
	padding-left: 15px;
}

.breadcrumbs li:last-child::after {
	display: none;
}

.breadcrumbs a {
	text-decoration: none;
	color: #78909c;
}

.breadcrumbs a:hover {
	color: #282b2f;
}

/*SECTION STYLES*/
.section {
	margin-bottom: 45px;
}

.article {
	margin-bottom: 80px;
}

.article li {
	margin-bottom: 25px;
}

.product-range {
  list-style: none;
  padding: 0;
}
.product-range li {
	padding-left: 1.3em;
}

.product-range li:before {
	content: "\ea0b";
	font-family: icomoon;
	display: inline-block;
	margin-left: -2em;
	width: 1.3em;
	font-size: 10px;
}

.product-range a {
	padding-left: 10px;
	font-style: italic;
	font-size: 16px;
}

.product-types {
	margin-left: -23px;
}

/*FORM STYLES*/
.form-area .btn {
	margin-bottom: 130px;
}

.form-control {
	border: 1px solid #e0e9f0;
	border-radius: 5px;
	height: 50px;
	margin-bottom: 15px;
}

textarea.form-control {
	height: 138px;
	margin-bottom: 40px;
	resize: none;
}

/*PAGE FLEX STYLES*/
.page-body {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.flex-container-dynamic {
	flex-grow: 1;
	min-width: 380px;
	width: calc(100% - 380px - 55px);
	margin-right: 55px;
}

.flex-container-static {
	flex-basis: 380px;
}

/*FOOTER STYLES*/
.social-media-links ul {
	justify-content: flex-start;
	padding-top: 30px;
}

.social-media-links i {
	margin-right: 25px;
}

.social-media-links a:hover {
	color: #009688;
}

.copyright {
	font: 14px "Rubik";
	color: #282b2f;
	padding-top: 50px;
}

.footer .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

/*ASIDE STYLES*/
.aside h3 {
	margin-bottom: 10px;
}

/*SEARCH FORM STYLES*/
.form-search {
    position: relative;
    border: 2px solid #e0e9f0;
    border-radius: 7px;
    padding: 2px;
    margin-bottom: 55px;
}

input.search-field {
    width: calc(100% - 50px);
    height: 50px;
    border: 0;
    color: #455a63;
    font-size: 15px;
    padding: 0 20px;
}

input.search-field::placeholder {
    color: #bdc6ca;
}

.form-search button {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: 2px solid #fff;
	border-radius: 7px;
    position: absolute;
    cursor: pointer;
    font-size: 20px;
    color: #009688;
	padding: 0 12px;
}

.form-search button:hover {
    border-color: #009688;
}

/*CARDS STYLES*/
.card {
	padding-top: 30px;
}

.card img {
	margin-bottom: 25px;
}

.publication-date {
	font: 14px/1.5 "Rubik Light";
	color: #bdc6ca;
	margin-bottom: 25px;
	display: inline-block;
}

.card a {
	display: inline-block;
	font-family: "Rubik Medium";
	color: #009688;
	margin-bottom: 30px;
}

.aside .btn {
	padding: 16px 50px;
	background-color: #fff;
	color: #009688;
}

.aside .btn:hover {
	background-color: #009688;
	color: #fff;
}
