@font-face {
  font-family: 'icomoon';
  src:  url('../../fonts/icomoon.eot?jt89xh');
  src:  url('../../fonts/icomoon.eot?jt89xh#iefix') format('embedded-opentype'),
    url('../../fonts/icomoon.ttf?jt89xh') format('truetype'),
    url('../../fonts/icomoon.woff?jt89xh') format('woff'),
    url('../../fonts/icomoon.svg?jt89xh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-dribbble:before {
  content: "\eaa7";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-search:before {
  content: "\e986";
}
.icon-phone:before {
  content: "\e942";
}
.icon-minus:before {
  content: "\ea0b";
}
