@import "fonts.css";
@import "icomoon.css";

html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	font: 16px/1.5 "Rubik Light";
	color: #465a64;
	background-color: #fff;
	min-width: 320px;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
	margin-bottom: 40px;
	border-radius: 5px;
}

p, ul, ol {
	margin: 0 0 40px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Rubik Medium";
	line-height: 1.2;
	margin: 0 0 40px;
	color: #282b2f;
}

h1 {
	font-size: 44px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 28px;
}

h5 {
	font: 20px "Rubik Light";
	font-style: italic;
	font-weight: bold;
	color: #546e7a;
}

h4 {
	font-size: 22px;
}

/*h6 {*/
/*	font-size: 14px;*/
/*}*/

a {
	color: #1976d2;
	text-decoration: underline;
}

p a {
	font-style: italic;
}

a:hover {
	text-decoration: none;
}

.contact-phone {
	font: 18px "Rubik Medium", sans-serif;
	color: #282b2f;
	text-decoration: none;
}
