*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
}

main {
    max-width: 960px;
    margin: 0 auto;
}

.container {
    background-color: #fff;
}

.col-3-container::before,
.col-3-container::after {
    clear: both;
    content: "";
    display: table;
    width: 100%;
}

.column {
    height: 300px;
    margin: 10px 10px 50px;
    background-color: blue;
    float: left;
    width: 300px;
}

.column.type-1 {
    background: linear-gradient(to bottom, rgba(213,94,0,1) 0%,rgba(255,175,0,1) 50%,rgba(213,94,0,1) 100%);
    box-shadow: 0 5px 10px #000;
}

.column.type-2 {
    border-radius: 15px 50px;
    background-color: #00b600;
    box-shadow: inset 0 0 30px #000;
}

.column.type-3 {
    border-radius: 50%;
    background: linear-gradient(to bottom, rgba(0,182,0,1) 0%,rgba(0,128,0,1) 100%);
    background-clip: content-box;
    border: 10px dashed #000;
}

.column.type-4 {
    background: linear-gradient(45deg, rgba(255,136,0,1) 0%,rgba(255,67,131,1) 49%,rgba(255,0,255,1) 100%);
    outline: 10px dotted #000;
    }

.column.type-5 {
    height: 200px;
    margin-top: 50px;
    background: linear-gradient(to bottom, rgba(255,135,135,1) 0%,rgba(226,0,0,1) 100%);
    border-radius: 50%;
    box-shadow: inset 0 -15px 0px #be0000;
}

.column.type-6 {
    border-radius: 50%;
    background: radial-gradient(ellipse at center, rgba(91,156,204,1) 0%,rgba(10,41,165,1) 100%);
    box-shadow: 0 10px 10px #000;
}