.wrapper {
	overflow: hidden;
	position: relative;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}


section {
	color: $template-grey !important;
	padding: 80px 0;

	&.bg-color-blue {
		background-color: $template-blue !important;
		color: $white !important;
	}

	&.bg-color-grey {
		background-color: $template-grey !important;
		color: $white !important;
	}
}

.large-paragraph {
	font-size: 28px;
	font-weight: 300;
	line-height: 1.35;
}

.twitter-link {
	font-weight: bold;

	&:hover {
		text-decoration: underline;
	}
}

h2.decorated {
	position: relative;

	.decoration {
		position: absolute;
		top: 0;
		right: 0;
	}
}

// Обертка для полей формы

.form-group {
	margin-bottom: 40px;

	label {
		text-transform: uppercase;
		font-weight: bold;
		margin-bottom: 10px;
		display: inline-block;
	}
}

// Поля формы

.form-control {
	display: block;
	width: 100%;
	padding: 10px 15px;
}

.form-control {
	@include placeholder {
		color: $red;
	}

	&:focus {
		border-color: $yellow;
	}
}

.grid {
	img {
		display: block;
		width: 100%;
	}
}

a {
	color: inherit;
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}

h1, h2 {
	text-transform: uppercase;
}

h1 {
	background-color: $template-background-grey-with-opacity;
	line-height: 1.65;
	display: inline;
}

h2 {
	position: relative;
	margin-bottom: 40px;

	&::after {
		content: "";
		width: 45px;
		height: 2px;
		background-color: $template-grey;
		position: absolute;
		top: 100%;
		left: 0;

		.bg-color-blue &,
		.bg-color-grey & {
			background-color: $white;
		}
	}

	a {
		transition: font-weight .3s ease-in-out;

		&:hover {
			font-weight: bold;
		}
	}
}

.page-intro {
	padding: 200px 0 50px;
	position: relative;
	background-image: url("../images/section-bg-1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;

	.container {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		z-index: 2;

		&::before {
			content: '';
			min-height: 550px;
			width: 0;
		}
	}

	.text-area {
		text-align: center;
		max-width: 990px;
		margin: 0 auto;
	}
}

.services {

	img {
		margin-bottom: 20px;
	}

	h3 {
		text-transform: uppercase;
		font-weight: 600;
	}

	p {
		font-size: 12px;
	}

	.card {
		margin-bottom: 20px;
		margin-left: -10px;
		padding-left: 10px;

		@include media (">=phone") {
			width: 50%;
		}

		@include media (">=desktop") {
			width: 25%;
		}
	}

	.card-container {
		@include media (">=phone") {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
		}
	}
}

.portfolio {
	color: $template-grey !important;

	.image-area {

		@include media ('>=phone') {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
	}

	.image-container {
		//Поставил здесь фиксированную высоту, поскольку контент не есть динамическим
		height: 270px;
		width: auto;
		margin-bottom: 30px;
		position: relative;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 50%;

		@include media ('>=phone') {
			width: calc(100% / 2 - 10px);
			margin-bottom: 20px;
		}

		@include media ('>=tablet') {
			width: calc(100% / 3 - 10px);
		}

		@include media ('>=desktop') {
			width: calc(100% / 4 - 15px);
		}

		&:hover {
			.hover-container {
				opacity: 1;
			}

			span {
				animation: plus_rotate 0.3s forwards;
			}
		}

		.hover-container {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: $background-color-for-hover-container;
			display: flex;
			flex-direction: column;
			opacity: 0;
			transition: opacity .3s ease-in-out;
		}

		.plus {
			flex-grow: 1;
			position: relative;
		}

		.plus span {
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -9px 0 0 -9px;
			font-size: 18px;
			color: #fff;
			display: inline-block;

			@include media ('>=phone') {
				font-size: 14px;
				margin: -7px 0 0 -7px;
			}
		}
	}

	h2 {
		margin-bottom: 0;
	}

	.flex-container {
		position: relative;
		margin-bottom: 80px;
	}

	.menu a {
		color: $template-grey;
	}

	.menu-opener {
		border: 1px solid $template-grey;
		position: relative;
		transition: border-color .3s ease-in-out;

		.filter-menu-active & {
			border-color: $template-blue;
		}

		span {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			transition: color .3s ease-in-out;

			.filter-menu-active & {
				color: $template-blue;
			}
		}
	}
}

.default {
	p {
		margin-bottom: 40px;
	}

	.flex-container {
		display: block;

		@include media(">=desktop") {
			display: flex;
		}
	}

	.section-content {
		padding-right: 125px;
		padding-bottom: 40px;
	}

	.section-content,
	.video-container {
		@include media(">=desktop") {
			padding-bottom: 0;
			width: calc(100% / 2);
		}
	}

	.responsive-embed {
		position: relative;
		overflow: hidden;

		&::before {
			content: '';
			display: block;
			padding-top: 56.25%;
		}

		.embed-item {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
		}
	}
}

.john-doe {
	padding: 100px 0;
	position: relative;
	background-image: url("../images/section-bg-2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;

	h2 {
		max-width: 1200px;
		margin: 0 auto;

		&:before {
			content: "";
			display: inline-block;
			width: 15px;
			height: 15px;
			position: relative;
			color: transparent;
		}

		&:after {
			left: 15px;
		}
	}

	.container {
		display: flex;
		align-items: flex-start;
		position: relative;
		z-index: 2;
		padding-top: 40px;


		&::before {
			content: '';
			min-height: 230px;
			width: 0;
		}
	}

	.flex-container {
		align-items: flex-start;
		display: block;

		p {
			margin-bottom: 35px;
		}

		@include media('>=desktop') {
			display: flex;
		}
	}

	.left-column {
		@include media(">=desktop") {
			margin-right: 20px;
		}
	}

	.social-media-links {
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			margin-left: -20px;
			display: flex;
			flex-wrap: wrap;
		}

		li {
			font-size: 22px;
			padding-left: 20px;
		}

		a {
			display: block;
			padding: 18px 20px;
			border: 2px solid $white;
			transition: color .15s ease-in-out, border-color .15s ease-in-out;
			margin-bottom: 20px;

			&:hover {
				color: $template-blue;
				border-color: $template-blue;
			}
		}
	}
}

.testimonials {
	.testimonial {
		margin-bottom: 40px;
	}

	.testimonial-owner {
		a {
			color: $template-blue;
			font-weight: bold;
			transition: color .15s ease-in-out;

			&:hover {
				color: $template-grey;
			}
		}
	}
}

.contact {
	background-image: url("../images/section-bg-3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;

	.flex-container {
		flex-direction: column;

		@include media(">=desktop") {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: flex-start;
		}
	}

	.flex-item {
		width: 100%;
		min-width: 290px;
	}

	.type-input {
		@include media(">=desktop") {
			width: calc(100% / 2);
			padding-right: 30px;
		}
	}

	.type-contact-person {
		line-height: 1.5;

		@include media('>=desktop') {
			order: 1;
			width: calc(100% / 2);
			max-width: 535px;
			padding-top: 20px;
		}

		p {
			margin-bottom: 40px;
		}
	}

	.type-textarea {
		@include media(">=desktop") {
			order: 2;
		}

		textarea {
			height: 220px;
		}
	}

	.btn.btn-submit {
		margin-bottom: 40px;
	}

	.contact-person-address {
		font-style: normal;
	}
}


@keyframes plus_rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(180deg);
	}
}