.footer {
	background-color: $template-dark-grey;
	color: $template-grey;
	padding: 80px 0;

	.flex-container {
		align-items: flex-start;
	}

	ul {
		margin: 0 0 0 -15px;
		padding: 0;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
	}

	li {
		font-size: 12px;
		font-weight: bold;
		text-transform: uppercase;
		padding: 0 15px;

		&:not(:last-child) {
			border-right: 2px solid $template-grey;
		}
	}

	p {
		margin: 0;
	}
}