.header {
	margin: 0;
	padding: 42px 0;
	position: absolute;
	z-index: 3;
	top: 0;
	left: 0;
	width: 100%;
	background-color: $template-background-grey-with-opacity;

	.menu-opener {
		display: inline-block;
		vertical-align: top;
		width: 40px;
		height: 40px;
		background: transparent;
		position: relative;
		border-radius: 3px;

		@include media(">=tablet") {
			display: none;
		}

		span,
		&::after,
		&::before {
			background: $white;
			border-radius: 4px;
			position: absolute;
			top: 50%;
			left: 25%;
			right: 25%;
			height: 2px;
			margin-top: -2px;
			transition: all .3s ease-in-out;
		}

		&::after,
		&::before {
			content: "";
			top: 30%;
		}

		&::after {
			top: 70%;
		}

		.mobile-menu-active & span {
			opacity: 0;
		}

		.mobile-menu-active &::after,
		.mobile-menu-active &::before {
			transform: rotate(135deg);
			top: 50%;
			left: 15%;
			right: 15%;
		}

		.mobile-menu-active &::after {
			transform:rotate(-135deg);
		}
	}
}

