/*DEFAULT STYLES*/
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
}

/*GENERAL STYLES*/
.flex-container {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #000;
    padding: 5px;
    margin-bottom: 5px;
}

.flex-item.num-1 {
    background-color: #ff0000;
    height: 50px;
}

.flex-item.num-2 {
    background-color: #008000;
    height: 100px;
}

.flex-item.num-3 {
    background-color: #ff6347;
    height: 150px;
}

.flex-item.num-4 {
    background-color: #ffa500;
    height: 200px;
}

.flex-item {
    height: 200px;
    width: 100px;
    text-align: center;
    color: #fff;
    padding-top: 5px;
}

/*TARGET STYLES*/
    /*BOX-1*/
.flex-container.box-1 .flex-item.num-4 {
    order: -1;
}

.flex-container.box-1 .flex-item.num-1 {
    order: -2;
}

.flex-container.box-1 {
    justify-content: center;
}

    /*BOX-2*/
.flex-container.box-2 .flex-item.num-2 {
    order: -2;
}

.flex-container.box-2 .flex-item.num-3 {
    order: -3;
}

.flex-container.box-2 .flex-item.num-4 {
    order: -1;
}

.flex-container.box-2 {
    justify-content: left;
    align-items: flex-end;
}

    /*BOX-3*/
.flex-container.box-3 .flex-item.num-4 {
    order: -1;
}

.flex-container.box-3 .flex-item.num-1 {
    order: -2;
}

.flex-container.box-3 {
    align-items: center;
    justify-content: space-between;
}

    /*BOX-4*/
/*не смог написать селектор с использованием "not". ".flex-container.box-4 .flex-item:not(nth-of-type(4))" не сработал. буду благодарен подсказке по оптимизации селктора.*/
.flex-container.box-4 .flex-item.num-1,
.flex-container.box-4 .flex-item.num-2,
.flex-container.box-4 .flex-item.num-3 {
    height: auto;
}

.flex-container.box-4 .flex-item.num-4 {
    order: -1;
}

.flex-container.box-4 .flex-item.num-1 {
    order: -2;
}

.flex-container.box-4 {
    justify-content: space-around;
    align-items: stretch;
}

    /*BOX-5*/
/*аналогично с box-4*/
.flex-container.box-5 .flex-item.num-1,
.flex-container.box-5 .flex-item.num-3 {
    height: auto;
}

.flex-container.box-5 .flex-item.num-4 {
    order: -1;
}

.flex-container.box-5 .flex-item.num-1 {
    order: -2;
}

.flex-container.box-5 {
    justify-content: center;
    align-items: stretch;
}

.flex-container.box-5 .flex-item.num-2 {
    align-self: center;
}