*, ::before, ::after {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvectica, sans-serif;
    background-color: #4a88c6;
    font-size: 10px;
    line-height: 1.6;
    color: #7c7c7c;
}

main {
    max-width: 980px;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
    padding: 0 100px;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

.simple-multitask-block,
.services {
    padding: 25px 0;
}

main a.button {
    background-color: #1e2429;
    text-decoration: none;
    color: #fff;
    font-size: 10px;
    padding: 10px 60px;
    display: inline-block;
    border-radius: 3px;
}

main a.button:hover {
    background-color: #37393b;
}

h1 {
    font-size: 2em;
    text-align: center;
    color: #151b20;
}

.simple-multitask-block p {
    text-align: center;
    padding: 0 100px;
    margin-bottom: 15px;
}

/*PROJECT NAME STYLES*/
.project-name {
    border-top: #dee2e7 solid 1px;
    border-bottom: #dee2e7 solid 1px;
}

.project-name::before,
.project-name::after {
    clear: both;
    content: "";
    display: table;
    width: 100%;
}

.project-name .col-2 {
    float: left;
    width: 50%;
    text-align: left;
}

.project-name .col-2.left {
    padding: 25px 100px 0 0;
}

.project-name .col-2 h1 {
    text-align: left;
}

.project-name .col-2 p {
    margin-bottom: 15px;
}

/*SERVICES STYLES*/
.services p:nth-of-type(1) {
    margin-bottom: 20px;
}

.services-container::before,
.services-container::after {
    clear: both;
    content: "";
    display: table;
    width: 100%;
}

.col-4 {
    float: left;
    width: calc(980px / 4 - 50px);
    padding: 0 10px;
    text-align: left;
}

.col-4 h2 a {
    font-size: 14px;
    text-decoration: none;
    color: #151b20;
}

.col-4 h2 a:hover {
    color: #37393b;
}

