@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Robotobold.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/Robotobold.woff') format('woff'), /* Pretty Modern Browsers */
	url('../fonts/Robotobold.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/*почему не подключается этот шрифт через фонт-фейс?*/
@font-face {
    font-family: 'bangersregular';
    src: url('../fonts/bangers-regular-webfont.woff2') format('woff2'),
         url('../fonts/bangers-regular-webfont.woff') format('woff'),
	url('../fonts/Bangers-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	font: 16px/1.5 Arial, Helvetica, sans-serif;
	color: #000;
	background-color: #fff;
	min-width: 320px;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
}

p, ul, ol {
	margin: 0 0 1em;
	font-family: 'Roboto Mono', monospace;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.2;
	margin: 0 0 .5em;
	font-family: "Roboto", sans-serif;
	/*через @font-face не работает*/
	/*font-family: "bangersregular", cursive;*/
	/*через <link> работает*/
	/*font-family: 'Bangers', cursive;*/
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 28px;
}

h4 {
	font-size: 22px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 14px;
}

a {
	color: #1976d2;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}