*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Arial, Helvectica, sans-serif;
    background-color: #dedede;
    font-size: 14px;
    color: #5c646e;
    line-height: 150%;
}

/* СТИЛИ HEADER */
.header {
    background-color: #262d34;
    padding: 0px 0px;
}

.header .container {
    max-width: 980px;
    margin: 0 auto;
    padding: 0px;
}

span.cherry a {
    font-size: 18px;
    color: #a5adb8;
    text-decoration: none;
    display: inline-block;
}

span.cherry.button a {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    padding: 25px 0px;
}

span.cherry a::first-letter {
    color: #ff1744;
}

/* СТИЛИ ПАНЕЛИ НАВИГАЦИИ */
.navigation-pane {
    max-width: 980px;
    margin: 0 auto;
    background-color: #ff1744;
}

.navigation-pane ul {
    padding: 0;
    list-style: none;
    font-size: 0;
}

.navigation-pane li {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
}

.navigation-pane a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    display: block;
    padding: 11px 31px 10px 30px;
}

.navigation-pane li.active a {
    background-color: #99001e;
}

.navigation-pane li:hover a {
    background-color: #99001e;
}

/* СТИЛИ MAIN */
main {
    max-width: 980px;
    margin: 0 auto;
    background-color: #fff;
}

main .container {
    padding-bottom: 58px;
    padding-top: 46px;
}

.page-header,
.container {
    padding-left: 29px;
    padding-right: 28px;
}

main h1:first-letter,
main h3:first-letter {
    color: #ff1744;
}

main img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
    margin-bottom: 30px;
}

/* СТИЛИ PAGE-HEADER */
.page-header {
    background-color: #282d33;
    padding-top: 50px;
    padding-right: 467px;
    padding-bottom: 55px;
    /*padding: 50px 467px 55px 29px;*/
}

.page-header h1 {
    font-size: 30px;
    color: #fff;
    margin-bottom: 14px;
}

.page-header h2 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 14px;
}

.page-header p {
    color: #c9c7c7;
}

/* СТИЛИ CONTAINER */
.col-2 {
    font-size: 0px;
}

aside,
.content-block {
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
}

.container h4 {
    font-size: 18px;
    color: #282d33;
    margin-bottom: 22px;
}

/* СТИЛИ ASIDE */
aside {
    width: 25.24%;
    padding-right: 24px;
}

aside p:nth-of-type(1) {
    color: #5c646e;
    margin-bottom: 36px;
    font-size: 12px;
}

aside a {
    color: #ff1744;
    font-weight: bold;
}

/* СТИЛИ CONTENT-BLOCK */
.content-block {
    width: 74.76%;
}

.content-block h3 {
    font-size: 24px;
    color: #a5adb8;
    margin-bottom: 17px;
}

.content-block p {
    margin-bottom: 24px;
}

.content-block span {
    color: #ff1744;
    text-decoration: underline;
}

.content-block span a.inline-link {
    color: #ff1744;
}

.content-block span a.inline-link:hover {
    color: #5c646e;
}

/* СТИЛИ COL-3 */
.col-3 {
    font-size: 0px;
}

.column {
    font-size: 14px;
    display: inline-block;
    width: calc((100% - 30px)/3);
    margin-right: 15px;
    vertical-align: top;
}

.col-3 .column:nth-of-type(3) {
    margin-right: 0px;
}

.column .primary-list,
.column .secondary-list {
    list-style-type: disc;
    padding-inline-start: 15px;
}

.column .ordered-list {
    padding-inline-start: 15px;
}

.column p:nth-of-type(1) {
    font-weight: bold;
}

.column p:nth-of-type(2) {
    margin-bottom: 33px;
}

/* СТИЛИ TABLE */
.content-block .table table {
    width: 100%;
    /*margin-bottom: 58px;*/
}

.content-block .table table, th, td {
    font-size: 12px;
    border: 1px solid #fff;
    border-collapse: collapse;
}

.content-block .table th{
    background-color: #ff1744;
    font-weight: bold;
    color: #fff;
}

.content-block .table td {
    background-color: #282d33;
    color: #a5adb8;
}

.content-block .table th, td {
    padding: 12px 21px;
    text-align: center;
}

.content-block .table td.number {
    font-size: 14px;
}

.content-block .table td.align-left,
.content-block .table th.align-left {
    text-align: left;
}

.content-block .table td.align-right,
.content-block .table th.align-right {
    text-align: right;
}

.link-email {
    color: #d08b98;
}

.content-block .table table tr:first-child th:first-child {
  border-top-left-radius: 6px;
}

.content-block .table table tr:first-child th:last-child {
  border-top-right-radius: 6px;
}

.content-block .table table tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}

.content-block .table table tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}

/* СТИЛИ FOOTER */
footer {
    background-color: #262d34;
    border-top: 12px solid #ff1744;
}

.footer {
    margin: 0 auto;
    max-width: 980px;
}

.footer .col-3 .column {
    margin: 0;
    padding-right: 57px;
    padding-left: 10px;
    width: calc(100%/3);
}

.footer h2 {
    font-size: 18px;
    font-weight: normal;
    color: #a5adb8;
    padding-top: 29px;
    padding-bottom: 10px;
    border-bottom: 1px solid #191c20;
    box-shadow: 0 1px 0 #40474f;
    margin-bottom: 13px;
}

address,
.footer,
.footer .primary-list {
    font-size: 12px;
    color: #85898f;
    font-style: normal;
}

.footer .column p:nth-of-type(1) {
    font-weight: normal;
    margin-bottom: 18px;
}

.footer .column p.bold-p {
    font-weight: bold;
    font-size: 14px;
}

.column ul.primary-list {
    margin-bottom: 15px;
}
