.btn {
	transition: color .3s ease-in-out, border-color .3s ease-in-out, background-color .3s ease-in-out;
	display: inline-block;
	vertical-align: middle;
	padding: 15px 40px;
	text-align: center;
	border: 1px solid $template-dark-grey;
	color: $template-dark-grey;
	text-transform: uppercase;
	font-weight: bold;

	&:hover {
		color: $template-blue;
		border-color: $template-blue;
	}

	&.btn-submit {
		border-color: $template-blue;
		background-color: $template-blue;
		color: $white;
		transition: background-color .3s ease-in-out, color .3s ease-in-out;

		&:hover {
			background-color: $background-color-for-btn;
			color: $template-blue;
		}
	}
}