// forms

form,
fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}

input,
textarea {
	-webkit-appearance: none;
	box-sizing: border-box;
	padding: .3rem .5rem;
	border: 2px solid $form-element-border-color;
	background-color: transparent;
	transition: border-color .15s ease-in-out;
	color: $white;
}

// input focus state

input:focus,
textarea:focus {
	outline: none !important;
	border-color: $template-blue !important;
}

select {
	-webkit-border-radius: 0;
}

textarea {
	resize: vertical;
	vertical-align: top;
}

button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
	cursor: pointer;
}