@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/icomoon.eot?x0w7sk');
  src:  url('../fonts/icomoon/icomoon.eot?x0w7sk#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?x0w7sk') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?x0w7sk') format('woff'),
    url('../fonts/icomoon/icomoon.svg?x0w7sk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
  content: "\ea0a";
}
.icon-filter:before {
  content: "\ea5b";
}
.icon-dribbble:before {
  content: "\eaa7";
}
.icon-quotes-right:before {
  content: "\e978";
}
.icon-trophy:before {
  content: "\e99e";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-twitter:before {
  content: "\ea96";
}