.flex-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.container {
	position: relative;
}

.logo {
	font-weight: bold;
	font-style: normal;
	font-size: 30px;
	color: $white;
	transition: color .3s ease-in-out;
	padding: 15px 0;

	&:hover {
		text-decoration: none;
		color: $template-blue;

		span {
			color: $white;
		}
	}

	span {
		color: $template-blue;
		transition: color .3s ease-in-out;
	}
}

.menu-opener {
	display: inline-block;
	vertical-align: top;
	width: 40px;
	height: 40px;
	background: transparent;
	position: relative;
	border-radius: 3px;

	@include media(">=tablet") {
		display: none;
	}
}

.menu {
	font-size: $navigation-font-size;
	padding: 0;
	list-style: none;
	position: absolute;
	top: 100%;
	right: 0;
	left: 0;
	transform: scale(1);
	opacity: 0;
	visibility: hidden;
	transition: opacity .3s ease-in-out, visibility .3s ease-in-out, transform .3s ease-in-out;
	margin: 42px 0 0;

	@include media(">=tablet") {
		opacity: 1;
		visibility: visible;
		display: flex;
		position: static;
		margin-top: 0;
	}

	.mobile-menu-active &:not(.menu-filter) {
		opacity: 1;
		visibility: visible;
		transform: scale(1);
		background-color: $template-background-grey-with-opacity;
	}

	a {
		display: block;
		padding: 11px 18px;
		text-transform: uppercase;
		font-weight: bold;
		border: 2px solid transparent;
		color: $white;
		transition: color .3s ease-in-out, border-color .3s ease-in-out;
	}

	li {
		margin-left: 10px;

		&:hover a,
		&.active a {
			color: $template-blue;
			border-color: $template-blue;
		}

		.mobile-menu-active &:not(:last-child) {
			margin-bottom: 5px;
		}
	}
}

.menu-filter {
	.filter-menu-active & {
		opacity: 1;
		visibility: visible;
		transform: scale(1);
		background-color: $white;
		z-index: 3;
		margin: 10px 0 0;

		span {
			color: $template-blue;
		}

		li {
			margin-left: 0;
		}
	}
}