// Переменные цветов

$gray: #999;
$blue: #007bff;
$dark-blue: #0069d9;
$green: #28a745;
$dark-green: #218838;
$red: #f00;
$yellow: #ff0;

$black: #000;
$white: #fff;

$template-blue: #4bcaff;
$template-grey: #535c62;
$template-dark-grey: #353f46;
$template-background-grey-with-opacity: rgba(83, 92, 98, 0.85);
$background-color-for-hover-container: rgba(0,0,0,0.3);
$background-color-for-btn: rgba(255,255,255,0.6);

$base-font-sans-serif: 'Segoe UI', sans-serif;
$base-font-serif: 'Times New Roman', 'Times', 'Baskerville', 'Georgia', serif;

// Основной размер и цвет текста, семейство шрифта и цвет фона
$base-text-color: #515f67;
$base-background-color: $white !default;
$font-size-base: 14px !default;
$line-height-base: 1.2 !default;
$base-font-family: $base-font-sans-serif !default;

//Дополнительные цвета элементов разметки
$blue-background-color: $template-blue;
$grey-background-color: $template-grey;

$base-min-width: 320px;

// Цвет глобальной ссылки
$base-link-color: $blue;

// Формы
$form-element-border-color: $white;
$form-element-focus-border-color: $black;
$placeholder-color: $gray;

// Переменные font-size
$h1-font-size: 42px;
$h2-font-size: 30px;
$h3-font-size: 24px;
$h4-font-size: 21px;
$h5-font-size: 17px;
$h6-font-size: 15px;
$navigation-font-size: 14px;